@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-text-color: #ff0000;
  --ceneo-primary: #ff6400;
  --ceneo-secondary: #fa8031;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.my-custom-style {
  background-color: aqua;
  color: var(--base-text-color);
}
